footer {
  margin-top: 80px;
}
.top_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 23px;
  max-width: 1260px;
  margin: 0 auto;
}

.content {
  max-width: 527px;
  padding: 0px 30px;
}

.section_top {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 50px;
}

h1, h2 {
  margin-bottom: 20px;
}

.highlight {
  color: #ED7777;
  font-weight: bold;
}
.small_text {
  font-size: 14px;
  padding-top: 4px;
}
.section_bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section_bottom li {
  margin-bottom: 12px;
}

.map {
  border: 2px solid #ED7777;
  border-bottom: 7px solid #ED7777;
  border-left: 7px solid #ED7777;
  border-radius: 15px;
  overflow: hidden;
}

.bottom_footer {
  background-color: #f3f0f0;
}

.main_footer_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  font-size: 16px;
  padding: 50px 30px;
}

.div_footer_logo {
  margin-right: 110px;
}

.btn_filled {
  background-color: #eb6f6f;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 999px;
  min-width: 196px;
  min-height: 40px;
  margin-bottom: 15px;
  padding: 10px 20px;
}
.btn_filled:hover {
  background-color: #d85d5d;
}
a:hover .btn_filled {
  background-color: #d85d5d;
}
.btn_outlined {
  background-color: transparent;
  color: #eb6f6f;
  border: 2px solid #eb6f6f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 999px;
  min-width: 196px;
  min-height: 40px;
  margin-bottom: 15px;
  padding: 10px 20px;
}
.btn_outlined:hover {
  background-color: #eee5e5;
}
a:hover .btn_outlined {
  background-color: #eee5e5;
}

.contact_information {
  max-width: 306px;
}

.icons_footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.link_block {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 10px;
  max-width: 306px;
  }
.address-block {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.link_text {
  text-decoration: none;
  color: inherit
}
.link_text:hover {
  text-decoration: underline;
}


.footer-menu {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.menu-column {
  min-width: 180px;
}
.menu-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-column li {
  margin-bottom: 8px;
}

.organization {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 30px 20px;
}